*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}
/* Generall css */
header{
    width: 100%;
    display: flex;
}

/* Add gradient */
.name{
    color: black;
    font-size: 1.2rem;
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: black;
}

/* Social media icon effect */
.twitter a:hover{
    color: aquamarine;
}

.linkedin a:hover{
    color: blue;
}

.github a:hover{
    color: orangered;
}

/* site information */ 

main{
    display: flex;

}


/* Moblie layout */
@media (max-width: 635px) {

    header{
        flex-direction: column;
    }

    .name{
        margin: 7% 0 20px 7%;
    }

    ul{
        display: flex;
        justify-content: center;
    }
    
    .menu{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }

    .icons{
        flex-direction: row;
        column-gap: 100px;
    
        font-size: 1.5rem;
    }

    main{
        margin-top: 10%;
        flex-direction: column;
        justify-content: flex-start;
    }
}

@media (min-width: 636px) {

    header{
        justify-content: flex-end;
        align-items: center;
        padding: 7%;
    }

    .name{
        margin-right: auto;
    }

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }

    .menu{
        column-gap: 30px;
        margin-right: 30px;
    }

    .icons{
        font-size: 1.2rem;
        column-gap: 12px;
    }

    main{
        justify-content: center;
        justify-content: space-evenly;

        margin-top: 10%;
    }

    .home-h1{
        display: flex;
        flex-direction: column;
    }


}